/*Advertisement Slider*/

.advertisement-slider {
  height: 100%;

  .swiper-wrapper {
    .swiper-slide {
      .large-product-box {
        position: relative;
        top: 0;
        right: 0;
        left: 0;

        .content-wrapper {
          z-index: 1;
          position: absolute;
          bottom: 20px;
        }

        .tag-box {
          position: absolute;
          top: 20px;
          z-index: 1;
        }
      }
    }
  }
}




