/*Blog Section*/
.our-blog {
  .blog-box {
    display: flex;
    box-shadow: 0 0 0 1px $purple-darken, 0 1px 5px 0 $purple-darken;
    border-radius: 3px;
    background: $white;

    .post {
      flex: 0 0 66.6666%;
      max-width: 66.6666%;

      .blog-img {
        height: 100%;

        img {
          height: 100%;
        }

        .blog-meta {
          bottom: 20px;
          position: absolute;
          z-index: 1;
        }
      }
    }

    .side-blog {
      flex: 0 0 33.3334%;
      max-width: 33.3334%;

      .blog-list {
        .side-post {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: nowrap;
          flex-direction: row;

          .thumb-img {
            position: relative;
            overflow: hidden;
            flex: 0 0 86px;
            max-width: 100px;
            margin: 0;
            padding: 0;
          }

          .content-wrap {
            flex: 0 0 calc(100% - 100px);
            max-width: calc(100% - 100px);
          }

        }
      }
    }
  }
}


