/*=========================
9. Checkout
===========================*/

.recipt-sec {
  @extend %common-G;
  display: block;
  margin-bottom: 0;

  .recipt-name {
    &.title {
      align-items: center;
      padding-bottom: 20px;
    }

    span {
      display: block;
    }
  }

}

.tracking-sec {
  @extend %common-G;

  .tracking-map {
    @extend %common-H;

    #pickupmap {
      height: 300px;
      width: 100%;
    }
  }

  .tracking-details {
    @extend %common-H;

    .fullpageview {
      position: absolute;
      bottom: 20px;
    }
  }
}

#add-listing-tab1, #add-listing-tab {
  .step-steps {
    @extend %common-I;

    > li {
      flex: 0 0 25%;
      max-width: 25%;

      &:before {
        background-color: $gray-e3e3e3;
        height: 12px;
        right: 45%;
        top: 19px;
        width: 100%;
        transition: all 0.3s;
        margin-right: 6px;
      }

      &:first-child:before {
        border-radius: 10px 0 0 10px;
      }

      &:last-child:before {
        width: 0;
      }

      > a {
        > .number {
          width: 12px;
          height: 12px;
          background-color: $gray-b6b6b6;
          border: 0 solid;
          transition: all 0.3s;
        }

        > .step-name {
          font-weight: 600;
          color: $red-ff0018;
          font-size: 12px;
          margin-top: 20px;
          transition: all 0.3s;
          white-space: normal;
        }
      }

      &.active {
        > a {
          > .number {
            @extend %common-J;
          }
        }
      }

      &.done {
        > a {
          > .number {
            @extend %common-J;
          }
        }

        &:before {
          background-color: $green-00a000;
        }
      }
    }

  }
}

.step-app {
  > .step-steps {
    overflow: hidden;
    margin: 0 auto;

    > li {
      @include liAndBeforeCommonStyle;

      > a {
        @extend %common-K;

        > span {
          @extend %common-K;
        }

        > .number {
          border-radius: 50%;
          color: $gray-b6b6b6;
          font-size: 18px;
          font-weight: bold;
          line-height: 50px;
          margin: 10px auto;
          position: relative;
          z-index: 0;
          top: 9px;
        }
      }
    }

  }
}

.md-modal {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;

  .md-content {
    #pickupmap2 {
      width: 100%;
      height: 100%;
      z-index: 9999;
    }

    .modal-sidebar {

      #add-listing-tab1 {
        .step-steps {
          > li {
            &:after {
              content: "";
              font-family: 'Font Awesome 5 Free';
              font-weight: 900;
              color: $green-00a000;
              font-size: 14px;
              -webkit-font-smoothing: antialiased;
              display: inline-block;
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              line-height: 1;
              position: absolute;
              top: 0;
            }

            &.order-note:after {
              content: "\f328";
            }

            &.make-order:after {
              content: "\f447";
            }

            &.bike:after {
              content: "\f21c";
            }

            &.home-delivery:after {
              content: "\f015";
            }
          }
        }
      }

      .arrow {
        position: absolute;
        right: 50px;
      }

      .rating-box {
        .امتیاز {
          span {
            cursor: pointer;

            &:hover i {
              color: $red-ff0018;
            }
          }
        }
      }

    }
  }
}

.md-show {
  visibility: visible;

  ~ .md-overlay {
    opacity: 1;
    visibility: visible;
  }

  &.md-effect-12 {
    ~ .md-overlay {
      background-color: $white;
    }

    .md-content {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.md-effect-12 .md-content {
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s;
  height: 100%;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: $white;
  transition: all 0.3s;
}

.countdown-box {
  display: flex;
  direction: ltr;

  .time-box {
    text-align: center;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: $white;
    align-items: center;
    justify-content: center;
    background: $red-ff0018;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    font-size: 22px;
    box-shadow: 0 0 0 1px $purple-darken, 0 1px 5px 0 $purple-darken;

    span {
      line-height: 1;

      h6 {
        margin-top: 5px;
        color: $white;
      }
    }
  }
}

.checkout-product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  .img-name-value {
    display: flex;
    align-items: flex-start;

    .product-value {
      margin: 0 30px;
    }
  }
}

.payment-method {
  .method-type {
    display: flex;
    align-items: center;

    i {
      font-size: 40px;
      margin-left: 15px;
    }
  }
}


.price-table .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-page {
  .help-btn {
    margin: 0 0;
  }

  .d-flex {
    align-items: center;
    justify-content: center;
  }
}


//واثت ها
//common style between (recipt-sec) and (tracking-sec) named : %common-G
%common-G {
  display: flex;
  box-shadow: 0 0 0 1px $purple-darken, 0 1px 5px 0 $purple-darken;
  border-radius: 3px;
  background: $white;
  margin-bottom: 20px;
}

//common style between (.tracking-map) and (.tracking-details) named : %common-H
%common-H {
  flex: 0 0 50%;
  max-width: 50%;
}

//common style between (#add-listing-tab1 .step-steps) and (#add-listing-tab .step-steps) named : %common-I
%common-I {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-left: 0;
}

/* common style between (#add-listing-tab1 .step-steps > li.active > a > .number)
 and (#add-listing-tab1 .step-steps > li.done > a > .number)
 and (#add-listing-tab .step-steps > li.active > a > .number)
 and (#add-listing-tab .step-steps > li.done > a > .number) . named : %common-J */
%common-J {
  background-color: $green-003d00;
}

//common style between (.step-app > .step-steps > li > a) and (.step-app > .step-steps > li > a > span) named : %common-K
%common-K {
  display: block;
}





