/*copyright*/

.copyright {
  padding: 20px 0;
  background-color: $gray-900;

  .payment-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

}