//gray-color-variables
$white: #fff;
$white-f5f5f5: #f5f5f5;
$gray-e3e3e3: #e3e3e3;
$gray-d4d4db: #d4d4db;
$gray-C4CAD2: #C4CAD2;
$gray-b6b6b6: #b6b6b6;
$gray-ada3a3: #ada3a3;
$gray-8f8fa1: #8f8fa1;
$gray-6b6b83: #6b6b83;
$gray-495057bd: #495057bd;
$gray-medium: rgba(210, 201, 255, 0.1);
$gray-800: #343a40;
$gray-medium-dark: rgba(0, 0, 0, .05);
$gray-dark: rgba(0, 123, 255, 0);
$gray-dark: rgba(0, 0, 0, 0.1);
$gray-900: #212529;
$gray-darken: rgba(0, 0, 0, 0.3);
$gray-00000059: #00000059;
$black-131313: #131313;
$black-55 :rgba(0, 0, 0, .55);
$black-87: rgba(0, 0, 0, .87);
$black: #000;

//color-variables
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$red-ff0000: #ff0000;
$red-ff0018: #ff0018;
$red: rgb(255, 0, 0);
$red-dd3333: #dd3333;
$red-bc2634: #bc2634;

$yellow-ffc439: #ffc439;

$green-28a745: #28a745;
$green-00a000: #00a000;
$green-003d00: #003d00;

$purple-dark: rgba(67, 41, 163, .2);
$purple-4329a333: #4329a333;
$purple-darken: rgba(67, 41, 163, .08);

$blue-4285f4: #4285f4;
$blue-1266f1: #1266f1;
$blue-3b5998: #3b5998;
$blue-2d4373: #2d4373;

