/*Explore Collection*/

.ex-collection-box {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.1);
      transition: 0.5s;
    }

  }
}

.ex-collection {
  .category-type {
    a {
      position: absolute;
      bottom: 0;
      margin-bottom: 15px;
    }
  }
}


.large-product-box {
  position: absolute;
  top: 0;
  height: 100%;
  bottom: 0;
  overflow: hidden;
  padding-bottom: 20px;
  right: 15px;
  left: 15px;

  img {
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  .category-type {
    a {
      left: 15px;
      width: auto;
      right: 15px;
      margin-bottom: 35px;
    }
  }
}


