
/*=========================
10. Final Order
===========================*/

.final-order .title2 span {
  margin-right: 140px;
  display: inline-block;
}

.final-order .advertisement-img, .final-order .advertisement-img img {
  height: 100%;
}
