/*=========================
10. Final Order
===========================*/

.final-order {
  .title2 {
    span {
      margin-right: 140px;
      display: inline-block;
    }
  }

  .advertisement-img {
    @extend %common-L ;

    img {
      @extend %common-L ;
    }
  }
}

//وراثت ها
//common style between (.final-order .advertisement-img)
// and (.final-order .advertisement-img img). named : %common-L
%common-L {
  height: 100%;
}
