/*footer-top*/

.footer-top .icon-box {
  margin: 0 auto;
  text-align: center;
  max-width: 150px;
  word-break: break-all;
}

.footer-top .icon-box span i {
  font-size: 50px;
  margin-bottom: 10px;
}

.footer-top .icon-box span {
  display: block;
  font-size: 12px;
}