/*======================
7. List View
========================*/
.most-popular {
  .popular-item-slider {
    @extend %common-W;

    .swiper-slide {
      margin-bottom: 20px;
    }
  }
}

.sort-tag-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @extend %common-W;
}

.restaurent-tags {
  span {
    &.tags {
      cursor: pointer;
      margin-right: 10px;
      color: $black-87;
      background: $gray-medium-dark;
      text-transform: capitalize;
      border: 1px solid $gray-C4CAD2;
      border-radius: 3px;
      position: relative;
      padding: 3px 35px 3px 15px;
      font-weight: 500;

      &:hover {
        color: $red-ff0018;
      }

      span {
        &.close {
          position: absolute;
          right: 10px;
          font-weight: 700;
          font-size: 14px;
          top: 50%;
          transform: translate(0px, -50%);
        }
      }
    }
  }
}

.sorting {
  span {
    margin-right: 10px;
  }

  select {
    color: $gray-00000059;
    border: 2px solid $gray-C4CAD2;
    padding: 3px 10px 3px 8px;
    border-radius: 3px;
    text-align: left;
    font-weight: 600;
  }
}

/*filter-sidebar*/
.filter-sidebar {
  .title-2 {
    small {
      margin-right: 10px;

      a {
        text-decoration: underline;
      }
    }

  }

  .sidebar-tab {
    > ul {
      > li {
        margin-left: 28px;
        border-radius: 0;

        > a {
          color: $black-55;
          border-radius: 0;
          border-bottom: 4px solid transparent;
          font-weight: 700;
          text-align: right;
          padding-left: 0;
          padding-right: 0;

          &.active {
            background: transparent;
            color: $black;
            border-bottom: 4px solid $red-ff0018;
          }
        }
      }
    }

    .tab-content {
      .siderbar-innertab {
        > ul {
          display: flex;
          margin-bottom: 10px;

          > li {
            width: 50%;

            > a {
              flex: 1;
              white-space: normal;
              transition-property: z-index, background, border-color, color;
              transition-timing-function: ease;
              transition-duration: .1s;
              border: 1px solid $purple-dark;
              color: $red-ff0018;
              background-color: transparent;
              border-radius: 4px;
              text-align: center;
              font-weight: 600;
              padding: 4px 0;

              &.disabled {
                color: $gray-C4CAD2;
              }

              &.active {
                border-color: $red-ff0018;
                color: $white;
                background-color: $red-ff0018;
              }

              &:first-child {
                > a {
                  border-radius: 4px 0 0 4px;
                }
              }

              &:last-child {
                > a {
                  border-radius: 0 4px 4px 0;
                }
              }
            }
          }
        }
      }

      p {
        &.delivery-type {
          a {
            &:before {
              content: '';
              width: 2px;
              height: 2px;
              background: $black;
              display: inline-flex;
              margin: 0 8px;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .filters {
      .card {
        padding: 0;
        margin-bottom: 25px;

        @extend %common-X;

        .card-body {
          padding: 0;
        }
      }

      .card-header {
        @extend %common-X;

        a {
          display: flex;
          align-items: center;
          align-self: center;
          justify-content: space-between;

          &:after {
            content: '\f077';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
          }

          &.collapsed {
            &:after {
              content: '\f078';
            }
          }
        }
      }
    }
  }
}

.filters {
  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      border: 1px solid $gray-C4CAD2;
      padding: 6px 10px;
      font-size: 12px;
      line-height: 19px;
      white-space: nowrap;
      width: 100%;
      text-align: center;
      display: block;
      border-right: 0;
      font-weight: 900;

      &:hover {
        background: $red-ff0018;
        color: $white;
        border-color: $red-ff0018;
      }

      &:first-child {
        border-radius: 0 3px 3px 0;
        border-right: 1px solid $gray-C4CAD2;
      }

      &:last-child {
        border-radius: 3px 0 0 3px;
      }
    }
  }

  .delivery-slider {
    .irs--flat {
      .irs-line {
        @extend %common-Y ;
      }

      .irs-bar {
        background-color: $red-ff0018;
        @extend %common-Y;
      }

      .irs-from {
        @extend %common-Z;
        @extend %common-DD;

        &:before {
          @extend %common-EE;
        }
      }

      .irs-to {
        @extend %common-Z;
        @extend %common-DD;

        &:before {
          @extend %common-EE;
        }
      }

      .irs-single {
        @extend %common-Z;
        @extend %common-DD;

        &:before {
          @extend %common-EE;
        }

      }

      .irs-grid-text {
        /* font-size: 16px; */
        color: $black;
        padding: 0 0 0 25px;
        top: 25px;
        font-family: $font-iranSans-bold;
        font-size: 8pt !important;
      }

      .irs-handle {
        width: 0;

        > i {
          &:first-child {
            top: 50%;
            width: 25px;
            height: 25px;
            background-color: $red-ff0018;
            border-radius: 50%;
            transform: translate(0px, -50%);
            cursor: pointer;
          }
        }

        &.state_hover {
          > i {
            &:first-child {
              @extend %common-BB;
            }
          }
        }

        &:hover {
          > i {
            &:first-child {
              @extend %common-BB;
            }
          }
        }
      }

      .irs-grid-pol {
        @extend %common-CC;
      }
    }

    .irs-grid-pol {
      &.small {
        @extend %common-CC;
      }
    }
  }
}

.irs--flat {
  .irs-min {
    @extend %common-AA;
  }

  .irs-max {
    @extend %common-AA;
  }
}

.delivery-slider {
  .irs--flat {
    &.irs-with-grid {
      width: 100%;
    }
  }
}

/*testimonal layout*/

.swiper-slide {
  .testimonial-wrapper {
    margin-top: 0;
  }
}

.video-box {
  @extend %common-FF;
}

.testimonial-wrapper {
  .testimonial-box {
    @extend %common-FF;

    .testimonial-img {
      .brand-logo {
        position: absolute;
        top: 50%;
        left: auto;
        right: 30px;
        box-shadow: 0 0 0 1px $purple-darken, 0 1px 5px 0 $purple-darken;
        background: $white;
        width: 50px;
        height: 50px;
        transform: translate(15px, -50%);
      }

      .add-fav {
        position: absolute;
        left: 30px;
        box-shadow: 0 0 0 1px $purple-darken, 0 1px 5px 0 $purple-darken;
        background: $white;
        width: 35px;
        height: 30px;
        transform: translate(-15px, 0%);
        bottom: -15px;
        border-radius: 5px 5px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;

        > img {
          padding: 8px;
        }
      }
    }

    .testimonial-user-box {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      img {
        margin-left: 12px;
        margin-bottom: 8px;
      }

      .testimonial-user-name {
        p {
          margin-bottom: 0;
          line-height: normal;
        }

        span {
          font-size: 11px;
          margin-right: 3px;
        }
      }
    }
  }
}

/*list view*/
.product-list-view {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @extend %common-W;

  &:first-child {
    border-top: 1px solid $purple-dark
  }

  &:hover {
    background: $gray-medium-dark;
    transition: 0.5s;
  }

  .product-list-info {
    width: 90px;

    .product-list-img {
      flex: 0 0 90px;
      overflow: hidden;
      height: 90px;
    }
  }

  .product-right-col {
    width: 95%;

    .product-list-bottom {
      .mob-tags-label {
        display: none;
      }
    }
  }

  .product-list-title {
    h6 {
      margin-bottom: 5px;
    }
  }

  .product-list-bottom {
    @extend %common-GG;

    .product-list-type {
      padding-right: 20px;

      span {
        display: inline-block;
      }
    }
  }

  .product-list-details {
    @extend %common-GG;

    .product-list-title {
      align-content: space-between;
      padding-right: 20px;
      max-width: 100%;
    }

    .product-detail-right-box {
      display: flex;
      justify-content: space-between;
      width: 60%;

      .product-list-tags {
        display: flex;
        flex-wrap: wrap;
      }

      .product-list-label {
        span {
          margin: 0 0 2px;
        }
      }

      .product-list-price {
        text-align: right;

        .product-list-time {
          display: none;
        }
      }
    }

    .product-list-price {
      text-align: right;
    }
  }

  .product-list-time {
    width: 27%;
    justify-content: space-between;
    @extend %common-HH;

    ul {
      @extend %common-HH;

      li {
        padding: 0 10px;
        position: relative;
        text-align: left !important;

        &:after {
          content: '';
          background: $gray-6b6b83;
          width: 3px;
          height: 3px;
          display: block;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0px, -50%);
          //display: none;
        }

        &:last-child {
          padding-right: 0;

          &:after {
            display: none;
          }
        }
      }
    }

    > span {
      margin-left: 20px;
    }
  }

}


//وراثت ها
//common style between (.sort-tag-filter) and (.product-list-view)
// and (.most-popular .popular-item-slider). named : %common-W
%common-W {
  border-bottom: 1px solid $purple-dark;
}

//common style between (.filter-sidebar .sidebar-tab .filters .card-header)
// and (.filter-sidebar .sidebar-tab .filters .card). named : %common-X
%common-X {
  border: none;
  padding: .75rem 0;
  background: $white;
}

//common style between (.filters .delivery-slider .irs--flat .irs-line) and (.filters .delivery-slider .irs--flat .irs-bar). named :%common-Y
%common-Y {
  height: 2px;
  top: 30px;
  cursor: pointer;
}

//common style between (.filters .delivery-slider .irs--flat .irs-from)
// and (.filters .delivery-slider .irs--flat .irs-to)
// and(.filters .delivery-slider .irs--flat .irs-single) . named :%common-Z
%common-Z {
  background-color: $red-ff0018;
  font-family: $font-iranSans-light;
  font-size: 6pt;
}

//common style between (.irs--flat .irs-min) and (.irs--flat .irs-max). named : %common-AA
%common-AA {
  font-family: $font-iranSans-light;
  font-size: 6pt;
  transform: scaleX(-1);
}

//common style between (.filters .delivery-slider .irs--flat .irs-handle.state_hover > i:first-child) // and (.filters .delivery-slider .irs--flat .irs-handle:hover > i:first-child). named :%common-BB
%common-BB {
  background-color: $red-bc2634;
}

//common style between (.filters .delivery-slider .irs-grid-pol.small,)
// and (.filters .delivery-slider .irs--flat .irs-grid-pol). named :%common-CC
%common-CC {
  display: none;
}

/*common style between (.filters .delivery-slider .irs--flat .irs-from)
and (.filters .delivery-slider .irs--flat .irs-to)
and (.filters .delivery-slider .irs--flat .irs-single). named: %common-DD */
%common-DD {
  background-color: $red-ff0018;
  transform: scaleX(-1);
}

/*common style between (.filters .delivery-slider .irs--flat .irs-from:before)
 and (.filters .delivery-slider .irs--flat .irs-to:before)
 and (.filters .delivery-slider .irs--flat .irs-single:before). named: %common-EE */
%common-EE {
  border-top-color: $red-ff0018;
}

/* common style between (.video-box)
and (.testimonial-wrapper .testimonial-box). named : %common-FF */
%common-FF {
  position: relative;
  box-shadow: 0 0 0 1px $purple-darken, 0 1px 5px 0 $purple-darken;
  border-radius: 3px;
  cursor: pointer;
}

//common style between (.product-list-view .product-list-bottom) and (.product-list-view .product-list-details).named :%common-GG
%common-GG {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

//common style between (.product-list-view .product-list-time) and (.product-list-view .product-list-time ul). named :%common-HH
%common-HH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
