/*==================
1.5. Section-Colors-&-Backgrounds
====================*/

.bg-light-white {
  background-color: $white-f5f5f5;
}

.bg-light-theme {
  background-color: $white-f5f5f5;
}

.bg-light-green {
  background-color: $red-ff0018;
}

.bg-red {
  background-color: $red-ff0000;
}

.bg-gradient-red {
  background-image: linear-gradient(to right, $red-f20000, $red-a20000);
}

.bg-yellow {
  background-color: $yellow-ffc000;
}

.bg-green {
  background-color: $green-4aa110;
}

.bg-gradient-green {
  background-image: linear-gradient(to bottom, $green-499a14, $green-476d2d);
}

.bg-gradient-orange {
  background-image: linear-gradient(to bottom, $orange-c55a11, $orange-ed7d31);
}

.bg-black {
  background-color: $black;
}

/*Colors*/

.text-light-black {
  color: $black;
}

.text-orange {
  color: $orange-fb6100;
}

.text-custom-white {
  color: $white;
}

.text-light-white {
  color: $gray-6b6b83;
}

.text-dark-white {
  color: $gray-00000059;
}

.text-yellow {
  color: $yellow-fcb71b;
}

.text-light-green {
  color: $red-ff0018;
}

.text-success {
  color: $green-13aa37;
}