/*======================
1.2 Space margins and padding
========================*/

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.full-width {
  width: 100%;
}

.section-padding {
  padding: 80px 0;
}

.section-padding-top {
  padding-top: 80px;
}

.section-padding-bottom {
  padding-bottom: 80px;
}

.padding-10 {
  padding: 10px;
}

.padding-tb-10 {
  padding: 10px 0;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.main-sec {
  height: 60px;
  clear: both;
  width: 100%;
}

.mb-xl-20 {
  margin-bottom: 20px;
}

.pb-xl-20 {
  padding-bottom: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}